@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
            <li class="@Job.JobId">
                This job is unclaimed.
                <div id="@Job.JobId"></div>
            </li>
        }
        else
        {
            <li>This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>
            if (!@Job.Completed)
            {
                <li class="@Job.JobId">Status: Uncompleted
                    <div id=""></div>
                </li>
                
            }
            else
            {
                <li>Status: Done! </li>
            }

        }
    </ul>

    <hr />

    <script type="text/javascript">
        $('.@Job.JobId').click(function () {
            console.log("Hi");
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Claim")',
                data: {id : @Job.JobId},
                success: function (result) {
                    $('#@Job.JobId').html(result);
                }
            });
        });

        $('.mark-completed').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("MarkComplete")',
                data: {id : @Job.JobId},
                success: function (result) {
                    $('#complete').html(result);
                }
            });
        });
    </script>
}

