@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <div class="col-md-4">
        <div class="card">
            <div class="card-image">
                <img src="http://www.allaroundmaintenanceinc.com/wp-content/uploads/2016/01/Roof-Repair-Portland.jpeg">
                <span class="card-title">@Job.Title</span>
            </div>
            <div class="card-content">
                @Job.Description
                @if (Job.Worker == null)
                {
                    <p>
                        This job is unclaimed.
                        <div id="@Job.JobId"></div>
                    </p>
                    <div class="@Job.JobId card-action">
                        Claim job
                    </div>
                }
                else
                {
                    <div class="card-action">
                        Claimed by @Job.Worker.FirstName @Job.Worker.LastName
                    </div>
                }
            </div>
            
        </div>
    </div>




    <script type="text/javascript">
        $('.@Job.JobId').click(function () {
            console.log("Hi");
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Claim")',
                data: {id : @Job.JobId},
                success: function (result) {
                    $('#@Job.JobId').html(result);
                }
            });
        });
    </script>
}


